[Unit]
Description=Set up USB HID OTG device

[Service]
Type=oneshot
ExecStart=/usr/local/bin/hid_gadget_setup.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
